# ----

In [1]:
import pandas as pd
import numpy as np

In [ ]:
LSD_Stats_Df = pd.read_csv("LSD-Stats-2024.csv")
LSD_Stats_Df

In [ ]:
Herbaceous_Crops_Df = pd.read_csv("Herbaceous-Crops-2024.csv")
Herbaceous_Crops_Df

In [ ]:
Total_SAU_Df = pd.read_csv("Total-SAU-2024.csv")
Total_SAU_Df

In [ ]:
Environmental_Data_Df = pd.read_csv("Environmental-Data-2024.csv")
Environmental_Data_Df

In [ ]:
Cattel_Stats_Df = pd.read_csv("Cattel-Stats-2024.csv")
Cattel_Stats_Df.rename(columns={'Wilaya':'WILAYA'},inplace=True)
Cattel_Stats_Df

In [67]:
Cours_Packages_Df = pd.read_csv("Course-Packages-Data.csv")
Cours_Packages_Df

                WILAYA  course packages
0                ADRAR            55293
1                CHLEF            25714
2             LAGHOUAT          1716813
3       OUM EL BOUAGHI           122272
4                BATNA           237600
5               BEJAIA            30290
6               BISKRA          1399746
7               BECHAR          1319192
8                BLIDA             8860
9               BOUIRA            73895
10         TAMANRASSET           816100
11             TEBESSA           434088
12             TLEMCEN           149036
13              TIARET           420606
14          TIZI OUZOU            25370
15             ALGIERS             1471
16              DJELFA          2114041
17               JIJEL            38811
18               SETIF            53650
19               SAIDA           159664
20              SKIKDA            42977
21      SIDI BEL ABBES             3715
22              ANNABA             7585
23              GUELMA            50875
24         CONSTANTINE            50935
25               MEDEA           291247
26          MOSTAGANEM             5110
27              M'SILA          1019243
28             MASCARA           104292
29             OUARGLA          4750000
30                ORAN             1823
31           EL BAYADH          5688141
32              ILLIZI                0
33  BORDJ BOU ARRERIDJ            48598
34           BOUMERDES            10741
35             EL TARF             8518
36             TINDOUF          6000000
37          TISSEMSILT            22297
38             EL OUED          1410000
39           KHENCHELA           439430
40          SOUK AHRAS            30977
41              TIPAZA             8157
42                MILA            21956
43           AIN DEFLA            37972
44               NAAMA          2175117
45      AIN TEMOUCHENT             7974
46            GHARDAIA          1306248
47            RELIZANE             6062

In [18]:
Herbaceous_Crops_Df["WILAYA"].values

array(['ADRAR', 'CHLEF', 'LAGHOUAT', 'OUM EL BOUAGHI', 'BATNA', 'BEJAIA',
       'BISKRA', 'BECHAR', 'BLIDA', 'BOUIRA', 'TAMANRASSET', 'TEBESSA',
       'TLEMCEN', 'TIARET', 'TIZI OUZOU', 'ALGIERS', 'DJELFA', 'JIJEL',
       'SETIF', 'SAIDA', 'SKIKDA', 'SIDI BEL ABBES', 'ANNABA', 'GUELMA',
       'CONSTANTINE', 'MEDEA', 'MOSTAGANEM', "M'SILA", 'MASCARA',
       'OUARGLA', 'ORAN', 'EL BAYADH', 'ILLIZI', 'BORDJ BOU ARRERIDJ',
       'BOUMERDES', 'EL TARF', 'TINDOUF', 'TISSEMSILT', 'EL OUED',
       'KHENCHELA', 'SOUK AHRAS', 'TIPAZA', 'MILA', 'AIN DEFLA', 'NAAMA',
       'AIN TEMOUCHENT', 'GHARDAIA', 'RELIZANE'], dtype=object)

# Cleaning the LSD_Stats_Df to extract the important information from it

In [9]:
LSD_Stats_Df.columns

Index(['Année', 'Semestre', 'Région mondiale', 'Pays',
       'Division administrative', 'Maladie', 'Génotype/sérotype/sous-type',
       'Catégorie animale', 'Espèce', 'outbreak_id', 'Event_id',
       'Nouveaux foyers', 'Sensibles', 'Unités de mesure', 'Cas',
       'Mis à mort et éliminés', 'Abattus/mis a mort à des fins commerciales',
       'Morts', 'Vaccinés', 'Outbreak_id'],
      dtype='object')

In [12]:
LSD_Stats_Df.drop(columns=["Année","Région mondiale","Pays","Maladie","Génotype/sérotype/sous-type","Catégorie animale",
                           "Espèce","outbreak_id","Event_id","Nouveaux foyers","Unités de mesure","Sensibles","Mis à mort et éliminés",
                           "Abattus/mis a mort à des fins commerciales","Morts","Vaccinés","Outbreak_id"],inplace=True)

In [14]:
LSD_Stats_Df.to_csv("LSD-Stats-2024-copy.csv",index=False)

In [24]:
mapping = {
    "Ain-Zaouia": "Tizi Ouzou",
    "Ait Bouadou": "Tizi Ouzou",
    "Bouinan": "Blida",
    "Dhayet Bendhahoua": "Ghardaia",
    "Djezzar": "Algiers",
    "Draa El Mizan": "Tizi Ouzou",
    "El Hamdania": "Tipaza",
    "Maatkas": "Tizi Ouzou",
    "Tadmait": "Tizi Ouzou",
    "Taghzout": "Bouira",
    "Taher": "Jijel",
    "Tichy": "Béjaïa",
    "Timezrit": "Béjaïa",
    "Beidha Bordj": "Setif",
    "Chrea": "Blida",
    "Douera": "Algiers",
    "Hammam Ben Salah": "El Tarf",
    "Hasnaoua": "Bordj Bou Arreridj",
    "Hattatba": "Tipaza",
    "Ouled Chebel": "Algiers",
    "Sidi Merouane": "Mila",
    "Tamalous": "Skikda"
}
LSD_Stats_Df["WILAYA"] = LSD_Stats_Df["Division administrative"].map(mapping)
LSD_Stats_Df = LSD_Stats_Df.groupby(["Semestre", "WILAYA"]).sum().reset_index()

LSD_Stats_Df

,Semestre,WILAYA,Division administrative,Cas
0,Jan-Jui 2024,Algiers,Djezzar,3
1,Jan-Jui 2024,Blida,Bouinan,3
2,Jan-Jui 2024,Bouira,Taghzout,1
3,Jan-Jui 2024,Béjaïa,TichyTimezrit,10
4,Jan-Jui 2024,Ghardaia,Dhayet Bendhahoua,2
5,Jan-Jui 2024,Jijel,Taher,4
6,Jan-Jui 2024,Tipaza,El Hamdania,1
7,Jan-Jui 2024,Tizi Ouzou,Ain-ZaouiaAit BouadouDraa El MizanMaatkasTadmait,27
8,Juil-Déc 2024,Algiers,DoueraOuled Chebel,6
9,Juil-Déc 2024,Blida,Chrea,5
10,Juil-Déc 2024,Bordj Bou Arreridj,Hasnaoua,1
11,Juil-Déc 2024,El Tarf,Hammam Ben Salah,2
12,Juil-Déc 2024,Mila,Sidi Merouane,2
13,Juil-Déc 2024,Setif,Beidha Bordj,1
14,Juil-Déc 2024,Skikda,Tamalous,1
15,Juil-Déc 2024,Tipaza,Hattatba,3

In [ ]:
LSD_Stats_Df.drop(columns=["Division administrative"],inplace=True)

In [ ]:
LSD_Stats_Df

In [ ]:
LSD_Stats_Df = LSD_Stats_Df.groupby("WILAYA").sum().reset_index()
LSD_Stats_Df.drop(columns=["Semestre"],inplace=True)

In [32]:
LSD_Stats_Df

                WILAYA  Cas
0              Algiers    9
1                Blida    8
2   Bordj Bou Arreridj    1
3               Bouira    1
4               Béjaïa   10
5              El Tarf    2
6             Ghardaia    2
7                Jijel    4
8                 Mila    2
9                Setif    1
10              Skikda    1
11              Tipaza    4
12          Tizi Ouzou   27

In [34]:
LSD_Stats_Df["WILAYA"] = LSD_Stats_Df["WILAYA"].str.upper()
LSD_Stats_Df

                WILAYA  Cas
0              ALGIERS    9
1                BLIDA    8
2   BORDJ BOU ARRERIDJ    1
3               BOUIRA    1
4               BÉJAÏA   10
5              EL TARF    2
6             GHARDAIA    2
7                JIJEL    4
8                 MILA    2
9                SETIF    1
10              SKIKDA    1
11              TIPAZA    4
12          TIZI OUZOU   27

In [38]:
Tebessa = pd.DataFrame([{'WILAYA': 'TEBESSA', 'Cas': 1}])
LSD_Stats_Df = pd.concat([LSD_Stats_Df, Tebessa], ignore_index=True)
LSD_Stats_Df

                WILAYA  Cas
0              ALGIERS    9
1                BLIDA    8
2   BORDJ BOU ARRERIDJ    1
3               BOUIRA    1
4               BÉJAÏA   10
5              EL TARF    2
6             GHARDAIA    2
7                JIJEL    4
8                 MILA    2
9                SETIF    1
10              SKIKDA    1
11              TIPAZA    4
12          TIZI OUZOU   27
13             TEBESSA    1

In [39]:
Herbaceous_Crops_Df

                WILAYA  Herbaceous Crops
0                ADRAR             24702
1                CHLEF            134841
2             LAGHOUAT             44017
3       OUM EL BOUAGHI            234118
4                BATNA            189135
5               BEJAIA             14464
6               BISKRA             61484
7               BECHAR              3255
8                BLIDA             15618
9               BOUIRA             86288
10         TAMANRASSET              3322
11             TEBESSA            197698
12             TLEMCEN            234494
13              TIARET            405690
14          TIZI OUZOU             26251
15             ALGIERS             11704
16              DJELFA            115274
17               JIJEL              9596
18               SETIF            230851
19               SAIDA            150607
20              SKIKDA             84356
21      SIDI BEL ABBES            206998
22              ANNABA             31442
23              GUELMA            118370
24         CONSTANTINE            114017
25               MEDEA            170361
26          MOSTAGANEM             94046
27              M'SILA            102185
28             MASCARA            206168
29             OUARGLA              5643
30                ORAN             65444
31           EL BAYADH             22342
32              ILLIZI               651
33  BORDJ BOU ARRERIDJ             86062
34           BOUMERDES             29028
35             EL TARF             39708
36             TINDOUF               173
37          TISSEMSILT             91322
38             EL OUED             47379
39           KHENCHELA            127607
40          SOUK AHRAS            175525
41              TIPAZA             38936
42                MILA            137033
43           AIN DEFLA            133621
44               NAAMA              9442
45      AIN TEMOUCHENT            142026
46            GHARDAIA             13872
47            RELIZANE            194863

In [47]:
merged_df = pd.merge(Herbaceous_Crops_Df, LSD_Stats_Df, on='WILAYA', how='left')

# Fill missing 'Cas' values with 0
merged_df['Cas'] = merged_df['Cas'].fillna(0).astype(int)

merged_df

                WILAYA  Herbaceous Crops  Cas
0                ADRAR             24702    0
1                CHLEF            134841    0
2             LAGHOUAT             44017    0
3       OUM EL BOUAGHI            234118    0
4                BATNA            189135    0
5               BEJAIA             14464    0
6               BISKRA             61484    0
7               BECHAR              3255    0
8                BLIDA             15618    8
9               BOUIRA             86288    1
10         TAMANRASSET              3322    0
11             TEBESSA            197698    1
12             TLEMCEN            234494    0
13              TIARET            405690    0
14          TIZI OUZOU             26251   27
15             ALGIERS             11704    9
16              DJELFA            115274    0
17               JIJEL              9596    4
18               SETIF            230851    1
19               SAIDA            150607    0
20              SKIKDA             84356    1
21      SIDI BEL ABBES            206998    0
22              ANNABA             31442    0
23              GUELMA            118370    0
24         CONSTANTINE            114017    0
25               MEDEA            170361    0
26          MOSTAGANEM             94046    0
27              M'SILA            102185    0
28             MASCARA            206168    0
29             OUARGLA              5643    0
30                ORAN             65444    0
31           EL BAYADH             22342    0
32              ILLIZI               651    0
33  BORDJ BOU ARRERIDJ             86062    1
34           BOUMERDES             29028    0
35             EL TARF             39708    2
36             TINDOUF               173    0
37          TISSEMSILT             91322    0
38             EL OUED             47379    0
39           KHENCHELA            127607    0
40          SOUK AHRAS            175525    0
41              TIPAZA             38936    4
42                MILA            137033    2
43           AIN DEFLA            133621    0
44               NAAMA              9442    0
45      AIN TEMOUCHENT            142026    0
46            GHARDAIA             13872    2
47            RELIZANE            194863    0

In [48]:
merged_df2 = pd.merge(merged_df, Total_SAU_Df, on='WILAYA')
merged_df2

                WILAYA  Herbaceous Crops  Cas  TOTAL S.A.U
0                ADRAR             24702    0        55510
1                CHLEF            134841    0       203230
2             LAGHOUAT             44017    0        77732
3       OUM EL BOUAGHI            234118    0       360885
4                BATNA            189135    0       422677
5               BEJAIA             14464    0       130917
6               BISKRA             61484    0       185463
7               BECHAR              3255    0        35072
8                BLIDA             15618    8        54303
9               BOUIRA             86288    1       189960
10         TAMANRASSET              3322    0        11262
11             TEBESSA            197698    1       312175
12             TLEMCEN            234494    0       350285
13              TIARET            405690    0       688725
14          TIZI OUZOU             26251   27        98842
15             ALGIERS             11704    9        28870
16              DJELFA            115274    0       387052
17               JIJEL              9596    4        44967
18               SETIF            230851    1       365112
19               SAIDA            150607    0       308206
20              SKIKDA             84356    1       131829
21      SIDI BEL ABBES            206998    0       363193
22              ANNABA             31442    0        47449
23              GUELMA            118370    0       187338
24         CONSTANTINE            114017    0       125010
25               MEDEA            170361    0       339709
26          MOSTAGANEM             94046    0       132268
27              M'SILA            102185    0       277592
28             MASCARA            206168    0       312786
29             OUARGLA              5643    0        54579
30                ORAN             65444    0        86757
31           EL BAYADH             22342    0        77056
32              ILLIZI               651    0         2725
33  BORDJ BOU ARRERIDJ             86062    1       186600
34           BOUMERDES             29028    0        62956
35             EL TARF             39708    2        74173
36             TINDOUF               173    0          872
37          TISSEMSILT             91322    0       145456
38             EL OUED             47379    0        96476
39           KHENCHELA            127607    0       257426
40          SOUK AHRAS            175525    0       253607
41              TIPAZA             38936    4        61800
42                MILA            137033    2       237558
43           AIN DEFLA            133621    0       181676
44               NAAMA              9442    0        28283
45      AIN TEMOUCHENT            142026    0       180994
46            GHARDAIA             13872    2        64385
47            RELIZANE            194863    0       281875

In [50]:
Environmental_Data_Df.drop(columns=["Year"],inplace=True)

In [58]:
Environmental_Data_Df = Environmental_Data_Df.loc[0:47]
Environmental_Data_Df.rename(columns={'Wilaya':'WILAYA'},inplace=True)
merged_df3 = pd.merge(merged_df2, Environmental_Data_Df, on='WILAYA')
merged_df3.head()

,WILAYA,Herbaceous Crops,Cas,TOTAL S.A.U,Mean Temperature,Approximate Rainfall,Approximate Humidity
0,ADRAR,24702,0,55510,29.0,10,20
1,CHLEF,134841,0,203230,21.0,400,60
2,LAGHOUAT,44017,0,77732,22.0,200,40
3,OUM EL BOUAGHI,234118,0,360885,18.0,350,55
4,BATNA,189135,0,422677,19.0,300,50

In [64]:
merged_df4 = pd.merge(merged_df3, Cattel_Stats_Df, on='WILAYA')
merged_df4.head()

,WILAYA,Mean Temperature,Approximate Rainfall,Approximate Humidity,Herbaceous Crops,TOTAL S.A.U,Cas,Number Of Cattle
0,ADRAR,29.0,10,20,24702,55510,0,1120
1,CHLEF,21.0,400,60,134841,203230,0,47230
2,LAGHOUAT,22.0,200,40,44017,77732,0,20995
3,OUM EL BOUAGHI,18.0,350,55,234118,360885,0,34137
4,BATNA,19.0,300,50,189135,422677,0,65052

In [68]:
merged_df5 = pd.merge(merged_df4, Cours_Packages_Df, on='WILAYA')
merged_df5.head()

,WILAYA,Mean Temperature,Approximate Rainfall,Approximate Humidity,Herbaceous Crops,TOTAL S.A.U,Cas,Number Of Cattle,course packages
0,ADRAR,29.0,10,20,24702,55510,0,1120,55293
1,CHLEF,21.0,400,60,134841,203230,0,47230,25714
2,LAGHOUAT,22.0,200,40,44017,77732,0,20995,1716813
3,OUM EL BOUAGHI,18.0,350,55,234118,360885,0,34137,122272
4,BATNA,19.0,300,50,189135,422677,0,65052,237600

In [71]:
new_order = ['WILAYA','Mean Temperature','Approximate Humidity','Approximate Rainfall','Herbaceous Crops','TOTAL S.A.U','Number Of Cattle','course packages','Cas']
merged_df5 = merged_df5[new_order]
merged_df5

,WILAYA,Mean Temperature,Approximate Humidity,Approximate Rainfall,Herbaceous Crops,TOTAL S.A.U,Number Of Cattle,course packages,Cas
0,ADRAR,29.0,20,10,24702,55510,1120,55293,0
1,CHLEF,21.0,60,400,134841,203230,47230,25714,0
2,LAGHOUAT,22.0,40,200,44017,77732,20995,1716813,0
3,OUM EL BOUAGHI,18.0,55,350,234118,360885,34137,122272,0
4,BATNA,19.0,50,300,189135,422677,65052,237600,0
5,BEJAIA,22.0,70,800,14464,130917,42693,30290,0
6,BISKRA,25.0,30,150,61484,185463,5085,1399746,0
7,BECHAR,24.0,25,50,3255,35072,1702,1319192,0
8,BLIDA,23.0,65,600,15618,54303,22635,8860,8
9,BOUIRA,20.0,60,500,86288,189960,38229,73895,1
10,TAMANRASSET,28.0,15,20,3322,11262,0,816100,0
11,TEBESSA,17.0,45,250,197698,312175,12000,434088,1
12,TLEMCEN,21.0,60,500,234494,350285,43600,149036,0
13,TIARET,19.0,50,350,405690,688725,44129,420606,0
14,TIZI OUZOU,21.0,75,1000,26251,98842,70998,25370,27
15,ALGIERS,24.0,65,600,11704,28870,13855,1471,9
16,DJELFA,18.0,45,300,115274,387052,30400,2114041,0
17,JIJEL,23.0,70,900,9596,44967,74308,38811,4
18,SETIF,18.0,55,400,230851,365112,151446,53650,1
19,SAIDA,20.0,40,250,150607,308206,13000,159664,0
20,SKIKDA,23.0,65,700,84356,131829,138424,42977,1
21,SIDI BEL ABBES,21.0,55,450,206998,363193,46500,3715,0
22,ANNABA,24.0,65,600,31442,47449,34847,7585,0
23,GUELMA,20.0,60,550,118370,187338,101707,50875,0
24,CONSTANTINE,19.0,55,450,114017,125010,41874,50935,0
25,MEDEA,19.0,50,400,170361,339709,54604,291247,0
26,MOSTAGANEM,23.0,60,300,94046,132268,31840,5110,0
27,M'SILA,21.0,40,200,102185,277592,35000,1019243,0
28,MASCARA,22.0,55,400,206168,312786,35000,104292,0
29,OUARGLA,27.0,20,30,5643,54579,999,4750000,0
30,ORAN,24.0,60,350,65444,86757,21322,1823,0
31,EL BAYADH,16.0,35,150,22342,77056,23385,5688141,0
32,ILLIZI,26.0,15,10,651,2725,0,0,0
33,BORDJ BOU ARRERIDJ,19.0,55,400,86062,186600,19676,48598,1
34,BOUMERDES,23.0,65,600,29028,62956,25060,10741,0
35,EL TARF,22.0,70,800,39708,74173,82630,8518,2
36,TINDOUF,25.0,15,20,173,872,23,6000000,0
37,TISSEMSILT,18.0,50,350,91322,145456,19400,22297,0
38,EL OUED,26.0,20,40,47379,96476,20585,1410000,0
39,KHENCHELA,17.0,40,250,127607,257426,16355,439430,0
40,SOUK AHRAS,20.0,60,600,175525,253607,79805,30977,0
41,TIPAZA,24.0,60,500,38936,61800,6854,8157,4
42,MILA,19.0,55,450,137033,237558,86130,21956,2
43,AIN DEFLA,20.0,50,400,133621,181676,27407,37972,0
44,NAAMA,15.0,30,100,9442,28283,35575,2175117,0
45,AIN TEMOUCHENT,22.0,60,400,142026,180994,24327,7974,0
46,GHARDAIA,23.0,25,50,13872,64385,4000,1306248,2
47,RELIZANE,22.0,55,350,194863,281875,40408,6062,0

In [72]:
merged_df5['LSD'] = (merged_df5['Cas'] > 0).astype(int)
merged_df5

,WILAYA,Mean Temperature,Approximate Humidity,Approximate Rainfall,Herbaceous Crops,TOTAL S.A.U,Number Of Cattle,course packages,Cas,LSD
0,ADRAR,29.0,20,10,24702,55510,1120,55293,0,0
1,CHLEF,21.0,60,400,134841,203230,47230,25714,0,0
2,LAGHOUAT,22.0,40,200,44017,77732,20995,1716813,0,0
3,OUM EL BOUAGHI,18.0,55,350,234118,360885,34137,122272,0,0
4,BATNA,19.0,50,300,189135,422677,65052,237600,0,0
5,BEJAIA,22.0,70,800,14464,130917,42693,30290,0,0
6,BISKRA,25.0,30,150,61484,185463,5085,1399746,0,0
7,BECHAR,24.0,25,50,3255,35072,1702,1319192,0,0
8,BLIDA,23.0,65,600,15618,54303,22635,8860,8,1
9,BOUIRA,20.0,60,500,86288,189960,38229,73895,1,1
10,TAMANRASSET,28.0,15,20,3322,11262,0,816100,0,0
11,TEBESSA,17.0,45,250,197698,312175,12000,434088,1,1
12,TLEMCEN,21.0,60,500,234494,350285,43600,149036,0,0
13,TIARET,19.0,50,350,405690,688725,44129,420606,0,0
14,TIZI OUZOU,21.0,75,1000,26251,98842,70998,25370,27,1
15,ALGIERS,24.0,65,600,11704,28870,13855,1471,9,1
16,DJELFA,18.0,45,300,115274,387052,30400,2114041,0,0
17,JIJEL,23.0,70,900,9596,44967,74308,38811,4,1
18,SETIF,18.0,55,400,230851,365112,151446,53650,1,1
19,SAIDA,20.0,40,250,150607,308206,13000,159664,0,0
20,SKIKDA,23.0,65,700,84356,131829,138424,42977,1,1
21,SIDI BEL ABBES,21.0,55,450,206998,363193,46500,3715,0,0
22,ANNABA,24.0,65,600,31442,47449,34847,7585,0,0
23,GUELMA,20.0,60,550,118370,187338,101707,50875,0,0
24,CONSTANTINE,19.0,55,450,114017,125010,41874,50935,0,0
25,MEDEA,19.0,50,400,170361,339709,54604,291247,0,0
26,MOSTAGANEM,23.0,60,300,94046,132268,31840,5110,0,0
27,M'SILA,21.0,40,200,102185,277592,35000,1019243,0,0
28,MASCARA,22.0,55,400,206168,312786,35000,104292,0,0
29,OUARGLA,27.0,20,30,5643,54579,999,4750000,0,0
30,ORAN,24.0,60,350,65444,86757,21322,1823,0,0
31,EL BAYADH,16.0,35,150,22342,77056,23385,5688141,0,0
32,ILLIZI,26.0,15,10,651,2725,0,0,0,0
33,BORDJ BOU ARRERIDJ,19.0,55,400,86062,186600,19676,48598,1,1
34,BOUMERDES,23.0,65,600,29028,62956,25060,10741,0,0
35,EL TARF,22.0,70,800,39708,74173,82630,8518,2,1
36,TINDOUF,25.0,15,20,173,872,23,6000000,0,0
37,TISSEMSILT,18.0,50,350,91322,145456,19400,22297,0,0
38,EL OUED,26.0,20,40,47379,96476,20585,1410000,0,0
39,KHENCHELA,17.0,40,250,127607,257426,16355,439430,0,0
40,SOUK AHRAS,20.0,60,600,175525,253607,79805,30977,0,0
41,TIPAZA,24.0,60,500,38936,61800,6854,8157,4,1
42,MILA,19.0,55,450,137033,237558,86130,21956,2,1
43,AIN DEFLA,20.0,50,400,133621,181676,27407,37972,0,0
44,NAAMA,15.0,30,100,9442,28283,35575,2175117,0,0
45,AIN TEMOUCHENT,22.0,60,400,142026,180994,24327,7974,0,0
46,GHARDAIA,23.0,25,50,13872,64385,4000,1306248,2,1
47,RELIZANE,22.0,55,350,194863,281875,40408,6062,0,0